export("a", "circle", "circle_icon", "circleIcon", "da", "datasetInput", "df.20",
       "diamond", "getColor", "greenLeafIcon", "icons", "ids", "latitude",
       "longitude", "m", "mpgData", "my_theme", "openMap", "points", "r_colors",
       "radius", "server", "squre", "ui", "value")
